# In case of scripbox packages, scope is going to be scripbox
//npm.pkg.github.com/:_authToken=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
@douglaspr20:registry = https://npm.pkg.github.com/
always-auth = true